<html>
    <header>
        <script src="jquery-3.4.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link href="public/main-pages.css" type="text/css" rel="stylesheet">
        
        <script>
            let adminMenu, userMenu;
            $(document).ready(
                function(){
                    let username = $("#username").attr("value")

                    if(username == "webAdmin"){
                        $("#profile-access").hide();
                        $("#home-user").hide();
                        $("#org-box").hide();
                        $("#org-table").show()
                        $("#home-admin").show();
                        $(".user-icon").show();
                    }
                    else{
                        $("#org-table").hide();
                        $("#org-box").show();
                        $("#home-user").show();
                        $("#home-admin").hide();
                        $(".user-icon").show();
                    }
                }
            )
            
            Handlebars.registerHelper("selected", function(option, value){
                if (option == value){
                    return " selected"
                }
                else{
                    return "";
                }
            })
        </script>
        
        
    </header>

    <body>
        <h1 name="orgName" value="{{org.orgName}}">{{org.orgName}}</h1>
        
        <a href="" onclick="$('#cancel-app-hidden').submit(); return false;">Cancel Application</a>
        
        <form id="cancel-app-hidden" action="../org/org-profile" method="post">
            <input type="hidden"
            value="{{user.username}}" id="username" name="username">
            <input type="hidden"
            value="{{org.orgName}}" id="orgName" name="orgName">
        </form>
        
        <form id="apply-member" action="../org/submit-application" method="post">
            <div class="member-app-form">
                <div id="dept-choice">
                    <h1>Choose a department</h1>
                        {{#each org.openPositions}}
                            {{this.positionName}} <input type="checkbox" name="dept" value="{{this.positionName}}"><br>
                        {{/each}}
                </div>
                
                <div id="general-question">
                    <h1>General Questions</h1>
                    {{#each org.regAppForm.appQuestions}}
                        {{this}}<textarea value="answer" cols="50" rows="5"></textarea ><br>
                    {{/each}}
                </div>
                
                <div id="position-question">
                    {{#if org.openPositions.positionName}}
                        <h1>Position-Specific Questions</h1>
                        {{#each org.openPositions.positionQuestions}}
                            {{this}}<textarea cols="50" rows="5"></textarea><br>
                        {{/each}}
                    {{/if}}
                </div>
                
                <input type="hidden" name="orgName" value="{{org.orgName}}">
                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="userId" value="{{user._id}}">
                <input type="submit" id="submit" value="Finish Applying">
            </div>
        </form>
    </body>
</html>