<html>
    <head>
        <script src="jquery-3.4.1.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/main-pages.css">
        
        <script>
            let adminMenu, userMenu;
            
            $(document).ready(
                function(){
                    let username = $("#username").attr("value")

                    if(username == "webAdmin"){
                        $("#profile-access").hide();
                        $("#home-user").hide();
                        $("#org-box").hide();
                        $("#org-table").show()
                        $("#home-admin").show();
                        $(".user-icon").show();
                    }
                    else{
                        $("#org-table").hide();
                        $("#org-box").show();
                        $("#home-user").show();
                        $("#home-admin").hide();
                        $(".user-icon").show();
                    }
                }
            )
        </script>
    </head>
    
    <body>
        <div class="main-menu">
            <div id="home-user">
                <a href="../home">Home</a>
                <div id="student-org-menu">
                    <button id="student-org-menu-buttton"> Student Clubs
                    </button>
                    <div id="student-org-options">
                        <a href="../org/org-list">All Student Clubs</a>
                        <a href="../org/my-org-list">My Student Clubs</a>
                    </div>
                </div>
                <a href="#">About</a>
            </div>
            
            <div id="home-admin">
                <div id="home-user">
                    <a href="home">Home</a>
                    <div id="student-org-menu">
                        <button id="student-org-menu-buttton"> Student Clubs
                        </button>
                        <div id="student-org-options">
                            <a href="../org/org-list">All Student Clubs</a>
                            <a href="../org/my-org-list">Add New Student Clubs</a>
                        </div>
                    </div>
                    <a href="#">About</a>
                </div>
            </div>
            
            <div class="user-icon">
                <button name="username" value="{{user.username}}" id="user-options-button">
                    <img src="/photos/icons8-male-user-50.png">{{user.username}}
                </button>
                <div id="user-options">
                    <a href="" onclick="
                    $('#profile-hidden').submit(); return false;">Profile</a>
                    <a href="../org/requests">Club Requests</a>
                    <a href="../user/logout">Log Out</a>
                </div>

                <form id="profile-hidden" action="user/profile" method="post">
                    <input type="hidden"
                    value="{{user.username}}" id="username" name="username">
                    <input type="hidden" id="profileid" name="id">
                </form>
            </div>
        </div>
        
        <form id="edit-profile" action="../user/edit-profile" method="get">
            <input type="hidden"
            value="{{user._id}}" id="user-id" name="id">
            <input type="submit" value="Edit Profile" id="edit-profile">
        </form>
        
        <div class="profile">
            <h1 name="username" value="{{username}}">About {{user.username}}</h1>
            Real Name:  {{user.realname}}<br>
            ID Number:  {{user.idNo}}<br>

            Birthday:  {{user.birthday}}<br>
            Current Grade/Degree Program (if college student):  {{user.degree}}<br>
            

            <h1>Contact Details</h1>
            E-Mail Address:  {{user.email}}<br>
            Contact Number:  {{user.contactNo}}<br>
            Address:  {{user.address}}<br>
            Residence: {{user.residence}}<br>

            <h1>Student Organizations</h1>
                <ol>
                    <li>Org 1</li>
                </ol>
        </div>
    </body>
</html>